{% extends 'base.html' %}
{% block content %}
<h1>Countries</h1>

{% for letter in letters %}
<a href="{% url 'countries-by-letter' letter %}">{{letter}}</a>
{% endfor %}

<ol>
    {% for country in page_obj %}
    <li><a href="{% url 'country' country.country_name %}">{{country.country_name}}</a></li>
    {% endfor %}
</ol>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        <a href="?page={{page_obj.previous_page_number}}">Prev</a>
    {% endif %}
    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
{% endblock %}
